click==6.6
eventlet==0.17.4
Flask==0.11.1
Flask-SocketIO==2.8.1
Flask-WTF==0.9.5
gevent==1.1.2
gevent-socketio==0.3.6
gevent-websocket==0.9.5
greenlet==0.4.10
gunicorn==0.16.1
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
python-engineio==1.1.0
python-socketio==1.6.1
six==1.10.0
Werkzeug==0.11.10
WTForms==1.0.5
